web/WEB-INF/wsdl/feedme-ws.us-east-1.elasticbeanstalk.com_80/ApplicationSevice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservice.feedme.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.feedme.com/">

<xs:element name="addCategory" type="tns:addCategory" />

<xs:element name="addCategoryResponse" type="tns:addCategoryResponse" />

<xs:element name="addEmployee" type="tns:addEmployee" />

<xs:element name="addEmployeeResponse" type="tns:addEmployeeResponse" />

<xs:element name="addLog" type="tns:addLog" />

<xs:element name="addLogResponse" type="tns:addLogResponse" />

<xs:element name="addManager" type="tns:addManager" />

<xs:element name="addManagerResponse" type="tns:addManagerResponse" />

<xs:element name="addOrder" type="tns:addOrder" />

<xs:element name="addOrderResponse" type="tns:addOrderResponse" />

<xs:element name="addOrderStatus" type="tns:addOrderStatus" />

<xs:element name="addOrderStatusResponse" type="tns:addOrderStatusResponse" />

<xs:element name="addPriviledge" type="tns:addPriviledge" />

<xs:element name="addPriviledgeResponse" type="tns:addPriviledgeResponse" />

<xs:element name="addProduct" type="tns:addProduct" />

<xs:element name="addProductResponse" type="tns:addProductResponse" />

<xs:element name="addPromoted" type="tns:addPromoted" />

<xs:element name="addPromotedResponse" type="tns:addPromotedResponse" />

<xs:element name="addPropertie" type="tns:addPropertie" />

<xs:element name="addPropertieResponse" type="tns:addPropertieResponse" />

<xs:element name="category" type="tns:category" />

<xs:element name="employee" type="tns:employee" />

<xs:element name="fetchCategories" type="tns:fetchCategories" />

<xs:element name="fetchCategoriesResponse" type="tns:fetchCategoriesResponse" />

<xs:element name="fetchCategoryById" type="tns:fetchCategoryById" />

<xs:element name="fetchCategoryByIdResponse" type="tns:fetchCategoryByIdResponse" />

<xs:element name="fetchEmployeeById" type="tns:fetchEmployeeById" />

<xs:element name="fetchEmployeeByIdResponse" type="tns:fetchEmployeeByIdResponse" />

<xs:element name="fetchEmployeeByUsername" type="tns:fetchEmployeeByUsername" />

<xs:element name="fetchEmployeeByUsernameResponse" type="tns:fetchEmployeeByUsernameResponse" />

<xs:element name="fetchEmployees" type="tns:fetchEmployees" />

<xs:element name="fetchEmployeesByManager" type="tns:fetchEmployeesByManager" />

<xs:element name="fetchEmployeesByManagerResponse" type="tns:fetchEmployeesByManagerResponse" />

<xs:element name="fetchEmployeesResponse" type="tns:fetchEmployeesResponse" />

<xs:element name="fetchLogById" type="tns:fetchLogById" />

<xs:element name="fetchLogByIdResponse" type="tns:fetchLogByIdResponse" />

<xs:element name="fetchLogs" type="tns:fetchLogs" />

<xs:element name="fetchLogsByEmployee" type="tns:fetchLogsByEmployee" />

<xs:element name="fetchLogsByEmployeeResponse" type="tns:fetchLogsByEmployeeResponse" />

<xs:element name="fetchLogsResponse" type="tns:fetchLogsResponse" />

<xs:element name="fetchManagerById" type="tns:fetchManagerById" />

<xs:element name="fetchManagerByIdResponse" type="tns:fetchManagerByIdResponse" />

<xs:element name="fetchManagers" type="tns:fetchManagers" />

<xs:element name="fetchManagersResponse" type="tns:fetchManagersResponse" />

<xs:element name="fetchOrderById" type="tns:fetchOrderById" />

<xs:element name="fetchOrderByIdResponse" type="tns:fetchOrderByIdResponse" />

<xs:element name="fetchOrderStatus" type="tns:fetchOrderStatus" />

<xs:element name="fetchOrderStatusById" type="tns:fetchOrderStatusById" />

<xs:element name="fetchOrderStatusByIdResponse" type="tns:fetchOrderStatusByIdResponse" />

<xs:element name="fetchOrderStatusResponse" type="tns:fetchOrderStatusResponse" />

<xs:element name="fetchOrders" type="tns:fetchOrders" />

<xs:element name="fetchOrdersByEmployee" type="tns:fetchOrdersByEmployee" />

<xs:element name="fetchOrdersByEmployeeResponse" type="tns:fetchOrdersByEmployeeResponse" />

<xs:element name="fetchOrdersResponse" type="tns:fetchOrdersResponse" />

<xs:element name="fetchPriviledgeById" type="tns:fetchPriviledgeById" />

<xs:element name="fetchPriviledgeByIdResponse" type="tns:fetchPriviledgeByIdResponse" />

<xs:element name="fetchPriviledges" type="tns:fetchPriviledges" />

<xs:element name="fetchPriviledgesResponse" type="tns:fetchPriviledgesResponse" />

<xs:element name="fetchProducts" type="tns:fetchProducts" />

<xs:element name="fetchProductsById" type="tns:fetchProductsById" />

<xs:element name="fetchProductsByIdResponse" type="tns:fetchProductsByIdResponse" />

<xs:element name="fetchProductsByName" type="tns:fetchProductsByName" />

<xs:element name="fetchProductsByNameResponse" type="tns:fetchProductsByNameResponse" />

<xs:element name="fetchProductsResponse" type="tns:fetchProductsResponse" />

<xs:element name="fetchPromotedById" type="tns:fetchPromotedById" />

<xs:element name="fetchPromotedByIdResponse" type="tns:fetchPromotedByIdResponse" />

<xs:element name="fetchPromoteds" type="tns:fetchPromoteds" />

<xs:element name="fetchPromotedsResponse" type="tns:fetchPromotedsResponse" />

<xs:element name="fetchPropertieByKey" type="tns:fetchPropertieByKey" />

<xs:element name="fetchPropertieByKeyResponse" type="tns:fetchPropertieByKeyResponse" />

<xs:element name="fetchProperties" type="tns:fetchProperties" />

<xs:element name="fetchPropertiesResponse" type="tns:fetchPropertiesResponse" />

<xs:element name="log" type="tns:log" />

<xs:element name="loginEmployee" type="tns:loginEmployee" />

<xs:element name="loginEmployeeResponse" type="tns:loginEmployeeResponse" />

<xs:element name="loginManager" type="tns:loginManager" />

<xs:element name="loginManagerResponse" type="tns:loginManagerResponse" />

<xs:element name="manager" type="tns:manager" />

<xs:element name="orderDetail" type="tns:orderDetail" />

<xs:element name="orderStatus" type="tns:orderStatus" />

<xs:element name="priviledge" type="tns:priviledge" />

<xs:element name="product" type="tns:product" />

<xs:element name="promoted" type="tns:promoted" />

<xs:element name="property" type="tns:property" />

<xs:element name="removeCategory" type="tns:removeCategory" />

<xs:element name="removeCategoryResponse" type="tns:removeCategoryResponse" />

<xs:element name="removeEmployee" type="tns:removeEmployee" />

<xs:element name="removeEmployeeResponse" type="tns:removeEmployeeResponse" />

<xs:element name="removeLog" type="tns:removeLog" />

<xs:element name="removeLogResponse" type="tns:removeLogResponse" />

<xs:element name="removeManager" type="tns:removeManager" />

<xs:element name="removeManagerResponse" type="tns:removeManagerResponse" />

<xs:element name="removeOrder" type="tns:removeOrder" />

<xs:element name="removeOrderResponse" type="tns:removeOrderResponse" />

<xs:element name="removeOrderStatus" type="tns:removeOrderStatus" />

<xs:element name="removeOrderStatusResponse" type="tns:removeOrderStatusResponse" />

<xs:element name="removePriviledge" type="tns:removePriviledge" />

<xs:element name="removePriviledgeResponse" type="tns:removePriviledgeResponse" />

<xs:element name="removeProduct" type="tns:removeProduct" />

<xs:element name="removeProductResponse" type="tns:removeProductResponse" />

<xs:element name="removePromoted" type="tns:removePromoted" />

<xs:element name="removePromotedResponse" type="tns:removePromotedResponse" />

<xs:element name="removeProperties" type="tns:removeProperties" />

<xs:element name="removePropertiesResponse" type="tns:removePropertiesResponse" />

<xs:element name="updateCategory" type="tns:updateCategory" />

<xs:element name="updateCategoryResponse" type="tns:updateCategoryResponse" />

<xs:element name="updateEmployee" type="tns:updateEmployee" />

<xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse" />

<xs:element name="updateLog" type="tns:updateLog" />

<xs:element name="updateLogResponse" type="tns:updateLogResponse" />

<xs:element name="updateManager" type="tns:updateManager" />

<xs:element name="updateManagerPassword" type="tns:updateManagerPassword" />

<xs:element name="updateManagerPasswordResponse" type="tns:updateManagerPasswordResponse" />

<xs:element name="updateManagerResponse" type="tns:updateManagerResponse" />

<xs:element name="updateOrder" type="tns:updateOrder" />

<xs:element name="updateOrderResponse" type="tns:updateOrderResponse" />

<xs:element name="updateOrderStatus" type="tns:updateOrderStatus" />

<xs:element name="updateOrderStatusResponse" type="tns:updateOrderStatusResponse" />

<xs:element name="updatePriviledge" type="tns:updatePriviledge" />

<xs:element name="updatePriviledgeResponse" type="tns:updatePriviledgeResponse" />

<xs:element name="updateProduct" type="tns:updateProduct" />

<xs:element name="updateProductResponse" type="tns:updateProductResponse" />

<xs:element name="updatePromoted" type="tns:updatePromoted" />

<xs:element name="updatePromotedResponse" type="tns:updatePromotedResponse" />

<xs:element name="updateProperties" type="tns:updateProperties" />

<xs:element name="updatePropertiesResponse" type="tns:updatePropertiesResponse" />

<xs:complexType name="addPromoted">
<xs:sequence>
<xs:element name="promoted" type="tns:promotedDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="promotedDTO">
<xs:sequence>
<xs:element name="fromTime" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="product" type="tns:productDTO" minOccurs="0" />
<xs:element name="promoted" type="tns:promoted" minOccurs="0" />
<xs:element name="toTime" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="productDTO">
<xs:sequence>
<xs:element name="category" type="tns:categoryDTO" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="imageUrl" type="xs:string" minOccurs="0" />
<xs:element name="info" type="xs:string" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="price" type="xs:double" />
<xs:element name="product" type="tns:product" minOccurs="0" />
<xs:element name="promotion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryDTO">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="imageFile" type="xs:string" minOccurs="0" />
<xs:element name="info" type="xs:string" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="price" type="xs:double" />
<xs:element name="promotion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="promoted">
<xs:sequence>
<xs:element name="fromTime" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="product" type="tns:product" minOccurs="0" />
<xs:element name="toTime" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPromotedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchCategories">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginManager">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginManagerResponse">
<xs:sequence>
<xs:element name="return" type="tns:managerDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="managerDTO">
<xs:sequence>
<xs:element name="info" type="xs:string" minOccurs="0" />
<xs:element name="manager" type="tns:manager" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="priviledge" type="tns:priviledgeDTO" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="manager">
<xs:sequence>
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="info" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="priviledge" type="tns:priviledge" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="priviledge">
<xs:sequence>
<xs:element name="admin" type="xs:boolean" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="editor" type="xs:boolean" />
<xs:element name="hr" type="xs:boolean" />
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="manager" type="xs:boolean" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="view" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="priviledgeDTO">
<xs:sequence>
<xs:element name="admin" type="xs:boolean" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="editor" type="xs:boolean" />
<xs:element name="hr" type="xs:boolean" />
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="manager" type="xs:boolean" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="priviledge" type="tns:priviledge" minOccurs="0" />
<xs:element name="view" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEmployee">
<xs:sequence>
<xs:element name="employee" type="tns:employeeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeDTO">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0" />
<xs:element name="info" type="xs:string" minOccurs="0" />
<xs:element name="isEnabled" type="xs:boolean" />
<xs:element name="manager" type="tns:managerDTO" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="info" type="xs:string" minOccurs="0" />
<xs:element name="isEnabled" type="xs:boolean" />
<xs:element name="manager" type="tns:manager" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginEmployee">
<xs:sequence>
<xs:element name="manager" type="tns:managerDTO" minOccurs="0" />
<xs:element name="employeeUsername" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePriviledge">
<xs:sequence>
<xs:element name="priviledId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePriviledgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrder">
<xs:sequence>
<xs:element name="order" type="tns:orderDetailDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderDetailDTO">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0" />
<xs:element name="customer" type="tns:singleInformation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="discount" type="xs:double" />
<xs:element name="employee" type="tns:employeeDTO" minOccurs="0" />
<xs:element name="foods" type="tns:productDTO" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="orderDetail" type="tns:orderDetail" minOccurs="0" />
<xs:element name="ordertime" type="xs:string" minOccurs="0" />
<xs:element name="rating" type="xs:double" minOccurs="0" />
<xs:element name="status" type="tns:orderStatus" minOccurs="0" />
<xs:element name="subtotal" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="singleInformation" final="extension restriction">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderDetail">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0" />
<xs:element name="customer" type="xs:string" minOccurs="0" />
<xs:element name="discount" type="xs:double" />
<xs:element name="employee" type="tns:employee" minOccurs="0" />
<xs:element name="foods" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="note" type="xs:string" minOccurs="0" />
<xs:element name="ordertime" type="xs:string" minOccurs="0" />
<xs:element name="rating" type="xs:double" minOccurs="0" />
<xs:element name="status" type="tns:orderStatus" minOccurs="0" />
<xs:element name="subtotal" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderStatus">
<xs:sequence>
<xs:element name="id" type="xs:short" minOccurs="0" />
<xs:element name="isStopped" type="xs:boolean" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeOrderStatus">
<xs:sequence>
<xs:element name="orderStatusId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEmployees">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchEmployeesResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLog">
<xs:sequence>
<xs:element name="log" type="tns:logDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="logDTO">
<xs:sequence>
<xs:element name="employee" type="tns:employeeDTO" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="log" type="tns:log" minOccurs="0" />
<xs:element name="ratingAvg" type="xs:float" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="totalOrders" type="xs:int" />
<xs:element name="ttoalIncome" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="log">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="ratingAvg" type="xs:float" />
<xs:element name="timestamp" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="totalOrders" type="xs:int" />
<xs:element name="ttoalIncome" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLogResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrderStatus">
<xs:sequence>
<xs:element name="orderStatus" type="tns:orderStatus" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPropertieByKey">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPropertieByKeyResponse">
<xs:sequence>
<xs:element name="return" type="tns:propertyDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="propertyDTO">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0" />
<xs:element name="property" type="tns:property" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="property">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPriviledges">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchPriviledgesResponse">
<xs:sequence>
<xs:element name="return" type="tns:priviledgeDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateManagerPassword">
<xs:sequence>
<xs:element name="manager" type="tns:managerDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateManagerPasswordResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="addOrderStatus">
<xs:sequence>
<xs:element name="orderStatus" type="tns:orderStatus" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderStatusById">
<xs:sequence>
<xs:element name="orderStatusId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderStatusByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderStatus" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrdersByEmployee">
<xs:sequence>
<xs:element name="fromTime" type="xs:long" />
<xs:element name="toTime" type="xs:long" />
<xs:element name="employeeId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrdersByEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetailDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchLogById">
<xs:sequence>
<xs:element name="logId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchLogByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:logDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePromoted">
<xs:sequence>
<xs:element name="promotedId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePromotedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLog">
<xs:sequence>
<xs:element name="log" type="tns:logDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addLogResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrder">
<xs:sequence>
<xs:element name="order" type="tns:orderDetailDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategory">
<xs:sequence>
<xs:element name="categoryId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderStatus">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderStatus" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrders">
<xs:sequence>
<xs:element name="fromTime" type="xs:long" />
<xs:element name="toTime" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrdersResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetailDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPriviledge">
<xs:sequence>
<xs:element name="priviledge" type="tns:priviledgeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPriviledgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProduct">
<xs:sequence>
<xs:element name="product" type="tns:productDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addManager">
<xs:sequence>
<xs:element name="manager" type="tns:managerDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addManagerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEmployee">
<xs:sequence>
<xs:element name="employeeId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderById">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetailDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategory">
<xs:sequence>
<xs:element name="category" type="tns:categoryDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeLog">
<xs:sequence>
<xs:element name="logId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeLogResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchLogs">
<xs:sequence>
<xs:element name="fromTime" type="xs:long" />
<xs:element name="toTime" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchLogsResponse">
<xs:sequence>
<xs:element name="return" type="tns:logDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeOrder">
<xs:sequence>
<xs:element name="orderId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchProductsById">
<xs:sequence>
<xs:element name="productId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchProductsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:productDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateManager">
<xs:sequence>
<xs:element name="manager" type="tns:managerDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateManagerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchManagerById">
<xs:sequence>
<xs:element name="managerId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchManagerByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:managerDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProperties">
<xs:sequence>
<xs:element name="propertyKey" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePropertiesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEmployeeByUsername">
<xs:sequence>
<xs:element name="employeeUsername" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEmployeeByUsernameResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPropertie">
<xs:sequence>
<xs:element name="property" type="tns:propertyDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPropertieResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPromoteds">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchPromotedsResponse">
<xs:sequence>
<xs:element name="return" type="tns:promotedDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchManagers">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchManagersResponse">
<xs:sequence>
<xs:element name="return" type="tns:managerDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProperties">
<xs:sequence>
<xs:element name="propertyUpdate" type="tns:propertyDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePropertiesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchLogsByEmployee">
<xs:sequence>
<xs:element name="employeeId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchLogsByEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="tns:logDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmployee">
<xs:sequence>
<xs:element name="employee" type="tns:employeeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePriviledge">
<xs:sequence>
<xs:element name="updatePriviledge" type="tns:priviledgeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePriviledgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchProducts">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:productDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchCategoryById">
<xs:sequence>
<xs:element name="categoryId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchCategoryByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPromotedById">
<xs:sequence>
<xs:element name="promotedId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPromotedByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:promotedDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEmployeeById">
<xs:sequence>
<xs:element name="employeeId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEmployeeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPriviledgeById">
<xs:sequence>
<xs:element name="priviledgeId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPriviledgeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:priviledgeDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchProductsByName">
<xs:sequence>
<xs:element name="productName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchProductsByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:productDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeManager">
<xs:sequence>
<xs:element name="managerId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeManagerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProduct">
<xs:sequence>
<xs:element name="productId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProduct">
<xs:sequence>
<xs:element name="updateProduct" type="tns:productDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategory">
<xs:sequence>
<xs:element name="category" type="tns:categoryDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePromoted">
<xs:sequence>
<xs:element name="promotedUpdate" type="tns:promotedDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePromotedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchProperties">
<xs:sequence />
</xs:complexType>

<xs:complexType name="fetchPropertiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:propertyDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEmployeesByManager">
<xs:sequence>
<xs:element name="managerId" type="xs:short" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEmployeesByManagerResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>